{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>
        {% block page_title %}{% endblock %}
    </title>
    <!-- BS & FA CSS only -->
    <script src="https://kit.fontawesome.com/124fb35ff9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "ticketing/css/main.css" %}">
</head>
<body>
<div class="container">
    <div class="row my-2 py-2">
        <h1>
            سامانه فروش بلیت سینما
        </h1>
    </div>

    {% block buttons %}
        <div class="row my-3">
            <div class="col"><a class="btn btn-primary btn-block" href="{% url 'home_page' %}" role="button">صفحه
                اصلی</a></div>
            <div class="col"><a class="btn btn-primary btn-block" href="{% url 'ticketing:movie_list' %}" role="button">لیست
                فیلم ها
                <span class="badge badge-light">{{ movie }}</span></a></div>
            <div class="col"><a class="btn btn-primary btn-block" href="{% url 'ticketing:cinema_list' %}"
                                role="button">لیست سینما ها
                <span class="badge badge-light">{{ cinema }}</span></a></div>
            <div class="col"><a class="btn btn-primary btn-block" href="{% url 'ticketing:showtime_list' %}"
                                role="button">لیست سانس ها
                <span class="badge badge-light">{{ show }}</span></a></div>
            {% if user %}
                <div class="col"><a class="btn btn-warning btn-block" href="{% url 'accounts:profile' %}" role="button">پنل
                    کاربری</a></div>
            {% else %}
                <div class="col"><a class="btn btn-warning btn-block" href="{% url 'accounts:login' %}" role="button">ورود</a>
                </div>
            {% endif %}
            <div class="col"><a class="btn btn-danger btn-block" href="{% url 'accounts:logout' %}"
                                role="button">خروج</a></div>
        </div>
    {% endblock %}
    <div class="row">
        {% block page_content %}{% endblock %}
    </div>
</div>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="{% static "ticketing/js/main.js" %}"></script>
</body>
</html>