{% extends "ticketing/base_page.html" %}

{% block page_title %}
    لیست فیلم ها
{% endblock %}


{% block page_content %}
        {% if movie_list %}
        <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    فیلم های در حال اکران:
                </th>
                <th scope="col">
                    کارگردان:
                </th>
            </tr>
        </thead>
            {% for movie in movie_list %}
                <tr>
                    <td>
                        <a class="btn btn-outline-primary btn-block" href="{% url "ticketing:movie_details" movie_id=movie.id%}">{{ movie }}</a>
                    </td>
                    <td>
                        {{ movie.director }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p style="color: red">
        فیلمی موجود نیست
        </p>
    {% endif %}
{% endblock %}