{% extends "ticketing/base_page.html" %}

{% block page_title%}
    {{ movie.name }}
{% endblock %}

{% block buttons %}
    {{ block.super }}
    {% include "ticketing/_ads.html" with ads_name="divar" %}
{% endblock %}

{% block page_content %}
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">فیلم:</th>
                <th scope="col">{{ movie.name }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">کارگردان:</th>
                <td>{{ movie.director }}</td>
            </tr>
            <tr>
                <th scope="row">مدت فیلم:</th>
                <td>{{ movie.length }}</td>
            </tr>
            <tr>
                <th scope="row">سال انتشار:</th>
                <td>{{ movie.year }}</td>
            </tr>
            <tr>
                <th scope="row">داستان فیلم:</th>
                <td>{{ movie.description }}</td>
            </tr>
            <tr>
                <th scope="row">پوستر:</th>
                <td><img style="width: 250px" src="{{ movie.poster.url }}" alt="{{ movie.name }}"></td>
            </tr>
            <tr>
                <th scope="row">سانس های موجود:</th>
                <td>
                    <div class="row p-2">
                        {% for show in available_shows %}
                            <div class="col-4">
                                {% if show.status ==  2%}
                                    <a href="{% url "ticketing:showtime_details" showtime_id=show.pk %}" class="btn btn-success p-4 m-2 btn-block">
                                {% else %}
                                    <a href="{% url "ticketing:showtime_details" showtime_id=show.pk %}" class="btn btn-secondary p-4 m-2 btn-block disabled">
                                {% endif %}
                                    <span>
                                        {{ show.movie }}
                                    </span><br/>
                                    <span class="badge badge-light">
                                        {{ show.cinema }}
                                    </span><br/>
                                    {% if show.status ==  2%}
                                        <span class="badge badge-pill badge-warning">
                                            {{ show.get_status_display }}
                                        </span><br/>
                                        <span>
                                            {{ show.get_price_display }}
                                        </span>
                                    {% else %}
                                        <span class="badge badge-pill badge-danger">
                                            {{ show.get_status_display }}
                                        </span>
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    {% include "ticketing/_ads.html" with class_name='ads2' ads_name="samsung" %}
{% endblock %}