{% extends 'ticketing/base_page.html' %}

{% block page_title %}
    بلیت من برای فیلم
    {{ ticket.showtime.movie.name }}
{% endblock %}

{% block page_content %}
    <div class="col-2"></div>
    <div class="col-8 ">
        <div class="row my-5 p-4 bg-dark rounded">
            <div class="col-8 bg-light">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" colspan="2" class="text-center">
                            بلیت من برای فیلم
                            {{ ticket.showtime.movie.name }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">
                            نام فیلم:
                        </th>
                        <td><a href="{% url "ticketing:ticket_details" ticket_id=ticket.pk %}">
                            {{ ticket.showtime.movie.name }}
                        </a></td>
                    </tr>
                    <tr>
                        <th scope="row">
                            نام سینما:
                        </th>
                        <td><a href="{% url "ticketing:cinema_details" cinema_id=ticket.showtime.cinema_id %}">
                            {{ ticket.showtime.cinema.name }}
                        </a></td>
                    </tr>
                    <tr>
                        <th scope="row">
                            خریدار:
                        </th>
                        <td>{{ ticket.customer.user.get_full_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            ساعت شروع سانس:
                        </th>
                        <td><a href="{% url 'ticketing:showtime_details' showtime_id=ticket.showtime_id %}">
                            {{ ticket.showtime.start_time }}
                        </a></td>
                    </tr>
                    <tr>
                        <th scope="row">
                            تاریخ خرید:
                        </th>
                        <td>{{ ticket.order_time }}</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            تعداد صندلی:
                        </th>
                        <td>{{ ticket.seat_counter }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            آدرس سینما:
                        </th>
                        <td>{{ ticket.showtime.cinema.address }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4 bg-light py-5">
                <img src="{{ ticket.showtime.movie.poster.url }}" class="card-img"
                     alt="{{ ticket.showtime.movie.name }}">
            </div>
        </div>
    </div>
    <div class="col-2"></div>
{% endblock %}